footer {
    background: #333;
    padding: 20px;
    color: #fff;
    bottom: 0;
    width: 100%;
    display: flex;
    align-items: center;
  }

  .icon-container-style {
    display: flex;
    gap: 15px;
    margin-left: 20px;
  }

  .icon-style {
    color: #7c7c7c;
    font-size: 24px;
    text-decoration: none;
    transition: color 0.3s ease, transform 0.3s ease;
  }

  .icon-style:hover {
    color: #ce6712;
    transform: scale(1.2);
  }

  .footer-text {
    font-size: 19px;
    text-align: center;
    margin-left: 24%;
  }

  .footer-text:hover {
    color: #ce6712;
  }
