.typewrite > .wrap {
    color: var(--primary-color);
    font-size: 2em;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bolder;
  }

/* Media query for phones */
@media (max-width: 600px) {
  .typewrite > .wrap {
    color: var(--primary-color);
    font-size: 2em;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bolder;
  }
}

.typewrite .word-block {
  display: inline-flex;
  white-space: nowrap;
}