:root {
  --primary-color: #e07c24;
  --secondary-color: #ffffff;
  --background-color: #000000;
  --text-color: #333333;
  --highlight-color: #CC7832;
  --font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  --font-size-large: xx-large;
  --font-size-medium: x-large;
  --font-size-small: large;
  --border-radius: 10px;
  --box-shadow: 0px 0px 15px rgba(255, 255, 255, 0.5);
  --padding-large: 2rem;
  --padding-medium: 1rem;
  --padding-small: 0.5rem;
  --margin-large: 5rem;
  --margin-medium: 2rem;
  --margin-small: 1rem;
}

body {
  font-family: var(--font-family);
  font-weight: 500;
  scroll-behavior: smooth;
  background-color: var(--background-color);
  color: var(--text-color);
}

.title {
  font-family: var(--font-family);
  text-transform: uppercase;
  font-size: var(--font-size-large);
  color: var(--primary-color);
  border-radius: var(--border-radius);
  box-shadow: var(--box-shadow);
  background-color: var(--background-color);
  width: 100%;
  text-align: center;
  padding: var(--padding-large);
  margin-bottom: var(--margin-large);
  margin-top: var(--margin-large);
}

.navbar {
  padding: var(--padding-small);
  background-color: var(--secondary-color);
  color: var(--primary-color);
}

.navbar ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
}

.navbar ul button {
  margin: 0 15px;
  color: white;
  text-decoration: none;
  font-size: 18px;
  transition: color 0.3s ease, transform 0.3s ease;
}

.container {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center; 
  justify-content: flex-end;
  max-width: 400px;
  margin: auto;
  border-radius: 12px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
  background-color: #eeecec;
  overflow: hidden;
}

.header {
  color: white;
  padding: var(--padding-small);
  text-align: center;
  font-size: 24px;
  border-radius: 10px 10px 0 0;
}

.css-cyqh1t-MuiPaper-root-MuiDrawer-paper {
  background-color: var(--secondary-color) !important;
}

.drawer-list {
  background-color: var(--secondary-color);
}

.drawer-list button {
  color: var(--primary-color);
  text-decoration: none;
  font-size: 18px;
  transition: color 0.3s ease, transform 0.3s ease;
}

.button {
  background-color: var(--background-color);
  color: white;
  border: none; 
  border-radius: 5px;
  padding: 10px 20px;
  margin: 10px 0;
  cursor: pointer;
  font-size: 16px;
}

.nav-button {
  color: black;
  border: none;
  padding: 10px;
  width: 150px;
  border-radius: 4px;
  cursor: pointer;
}

.nav-button:active {
  color: var(--primary-color);
  background-color: var(--secondary-color);
}

.nav-button:focus {
  color: #f0faf0;
  background-color: var(--primary-color);
}

.nav-button:hover {
  color: #f0faf0;
  background-color: #545252;
  transform: scale(1.2);
}

@media (max-width: 700px) {
  .nav-links {
    display: none;
  }

  .hamburger {
    display: block;
  }
}

@media (min-width: 701px) {
  .nav-links {
    display: flex;
  }

  .hamburger {
    display: none;
  }
}
